@page "/"

<PageTitle>Home</PageTitle>
<div class="row">
<div class="col-md-5">
<RadzenImage Path="/images/home.png" style="width: 100%"></RadzenImage>
</div>
<div class="col-md-7">
<video src="/videos/home.mp4" autoplay style="width: 100%;"></video>
</div>
</div>


