@page "/"
@using SimplyMTD.Models;

@attribute [Authorize]
<PageTitle>Index</PageTitle>

<RadzenLink Path="/Account/UserRestrictedCall" Text="Connect to HMRC"></RadzenLink>
@*<div class="row pt-5 px-1">
	<div class="col-12">
		<RadzenDropDown @bind-Value="order.Type" Placeholder="VAT" Data="@types" TextProperty="Name" ValueProperty="Id" Name="Type">
		</RadzenDropDown>
		<RadzenCard Style="margin-top: 40px; padding: 20px 40px 40px;">
			<RadzenLabel Text="ABC Cakes Limited" /><br>
			<RadzenLabel Text="VAT Registration No.: 324 342 9901" />
			<div>
				<RadzenLabel Text="Tax Year" />
				<RadzenDropDown @bind-Value="order.Country" Placeholder="2023/24" Data="@countries" TextProperty="Name" ValueProperty="Id" Name="Country">
				</RadzenDropDown>
				<RadzenButton Icon="line_weight" ButtonStyle="ButtonStyle.Primary" />
				<RadzenButton Icon="description" ButtonStyle="ButtonStyle.Primary" />
				<RadzenButton Icon="help" ButtonStyle="ButtonStyle.Primary" />
				<RadzenButton Icon="build" ButtonStyle="ButtonStyle.Primary" />
			</div>
		</RadzenCard>
	</div>
</div>*@
<div class="row pt-5 px-1">

	<div class="col-md-12">
		<RadzenPanel>
			<HeaderTemplate>
				<h4 class="m-0 d-flex align-items-center">
					<RadzenIcon Icon="list" Class="me-1" /><b>Obligations</b>
				</h4>
			</HeaderTemplate>
			<ChildContent>
				@if (obligations == null)
				{
					<p><em>Loading...</em></p>
				}
				else
				{
					<RadzenDataGrid @ref="grid" Data=@obligations FilterMode="FilterMode.Simple" TItem="Obligation" Class="mt-3">
						<Columns>
							<RadzenDataGridColumn Width="50px" TItem="Obligation" Property="periodKey" Title="Period Key" />
							<RadzenDataGridColumn TItem="Obligation" Property="start" Title="Start Date" />
							<RadzenDataGridColumn TItem="Obligation" Property="end" Title="End Date" />
							<RadzenDataGridColumn TItem="Obligation" Property="due" Title="Deadline" />
							<RadzenDataGridColumn TItem="Obligation" Property="received" Title="Submission Date" />
							<RadzenDataGridColumn TItem="Obligation" Property="status" Title="Status">
								<Template Context="obligation">
									@if (obligation.status == "O")
									{
										<div class="rz-background-color-warning-lighter"><span class="rz-color-warning-dark">Due</span></div>
									}
									else
									{
										<div class="rz-background-color-success-lighter"><span class="rz-color-success-dark">Completed</span></div>
									}
								</Template>
							</RadzenDataGridColumn>
							<RadzenDataGridColumn TItem="Obligation" Title="Action">
								<Template Context="obligation">
									@if (obligation.status == "O")
									{
										<RadzenButton ButtonStyle="ButtonStyle.Info" Variant="Variant.Flat" Shade="Shade.Lighter" Text="Submit" Click=@(args => Submit(args, obligation.periodKey)) />
									}
									else
									{
										<RadzenButton ButtonStyle="ButtonStyle.Info" Variant="Variant.Flat" Shade="Shade.Lighter" Text="View" />
									}

								</Template>
							</RadzenDataGridColumn>
							<RadzenDataGridColumn TItem="Obligation">
							</RadzenDataGridColumn>
						</Columns>
					</RadzenDataGrid>
				}
			</ChildContent>
		</RadzenPanel>

	</div>
</div>

@*<div class="row pt-5 px-1">

	<div class="col-md-6">
		<RadzenPanel>
			<HeaderTemplate>
				<h4 class="m-0 d-flex align-items-center">
					<RadzenIcon Icon="list" Class="me-1" /><b>VAT Liabilities</b>
				</h4>
			</HeaderTemplate>
			<ChildContent>
				@if (employees == null)
				{
					<p><em>Loading...</em></p>
				}
				else
				{
					<RadzenDataGrid @ref="grid" Data=@employees FilterMode="FilterMode.Simple" TItem="Employee" Class="mt-3">
						<Columns>
							<RadzenDataGridColumn TItem="Employee" Title="Start Date" Property="StartDate">
							</RadzenDataGridColumn>
							<RadzenDataGridColumn TItem="Employee" Property="EndDate" Title="End Date">
							</RadzenDataGridColumn>
							<RadzenDataGridColumn TItem="Employee" Property="Deadline" Title="Deadline" />
							<RadzenDataGridColumn TItem="Employee" Property="Amount" Title="Amount" />
							<RadzenDataGridColumn TItem="Employee" Property="Balance" Title="Balance" />
						</Columns>
					</RadzenDataGrid>
				}
			</ChildContent>
		</RadzenPanel>

	</div>
	<div class="col-md-3">
		<RadzenPanel>
			<HeaderTemplate>
				<h4 class="m-0 d-flex align-items-center">
					<RadzenIcon Icon="list" Class="me-1" /><b>Payment History</b>
				</h4>
			</HeaderTemplate>
			<ChildContent>
				@if (employees == null)
				{
					<p><em>Loading...</em></p>
				}
				else
				{
					<RadzenDataGrid @ref="grid" Data=@employees FilterMode="FilterMode.Simple" TItem="Employee" Class="mt-3">
						<Columns>
							<RadzenDataGridColumn TItem="Employee" Title="Payment Date" Property="PaymentDate">
							</RadzenDataGridColumn>
							<RadzenDataGridColumn TItem="Employee" Property="PaymentReceived" Title="Received">
							</RadzenDataGridColumn>
						</Columns>
					</RadzenDataGrid>
				}
			</ChildContent>
		</RadzenPanel>

	</div>
	<div class="col-md-3">
		<RadzenChart>
			<RadzenPieSeries Data="@revenue" Title="Revenue" CategoryProperty="Quarter" ValueProperty="Revenue">
				<RadzenSeriesDataLabels Visible="@showDataLabels" />
			</RadzenPieSeries>
		</RadzenChart>
	</div>
</div>*@

@code {
	

	public class Type
	{
		public int Id { get; set; }
		public string Name { get; set; }
	}

	

	List<Type> types = new List<Type>()
	{
		new Type() { Id = 1, Name = "VAT" },
		new Type() { Id = 2, Name = "ITSA" }
	};

}